<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phonemasters</title>
    <link rel="stylesheet" type="text/css" href="/css/InputStyle.css"/>
    <script src="/js/CreateOrder.js" defer></script>
</head>
<body>
<form>
    <div>
        <label for="firstName">Введите имя клиента</label>
        <input name="firstName" id="firstName" value=""/>
    </div>
    <div>
        <label for="phoneNumber">Номер телефона с 8</label>
        <input type="tel" name="phoneNumber" id="phoneNumber" value="8"/>
    </div>
    <div>
        <label for="deviceModel">Введите название устройства</label>
        <input name="deviceModel" id="deviceModel" value=""/>
    </div>
    <div>
        <label for="originalComplaint">Опишите проблему</label>
        <input name="originalComplaint" id="originalComplaint" value=""/>
    </div>
    <div>
        <label for="originalPrice">Введите изначальную цену</label>
        <input type="number" name="originalPrice" id="originalPrice" value=""/>
    </div>
    <div>
        <button id="submit-button" type="button" onclick="onClickSubmit()">Создать заказ</button>
    </div>
</form>


</body>
<script>


</script>
</html>