<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/orders_style.css.css?v=1.4" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script th:if="${@environment.acceptsProfiles('dev','local')}" src="http://localhost:35729/livereload.js"
            defer></script>

    <title>Orders</title>
</head>
<body>

<header class="header">
    <a href="/admin">
        <div class="logo">
            <img class="logo-image" src="/img/logo.svg" draggable="false" alt="Phonemasters logo">
        </div>
    </a>
</header>

<div class="orders">
    <ul th:each="order : ${orders}" class="order-list">

        <div class="order-container" th:id="${order.id}">
            <div class="title" th:text="${order.name}"></div>
            <div class="description-container">
                <div class="description" th:text="${order.originalComplaint}"></div>
            </div>

            <div class="edit-button-container">
                <a th:href="${order.rowId}">
                    <button class="edit-button">Редактировать</button>
                </a>
            </div>
        </div>


    </ul>
</div>
<div class="create-order">
    <a href="admin/create">
        <button class="edit-button">Создать заказ</button>
    </a>
</div>

</body>
</html>